<!DOCTYPE HTML PUBLIC "-//SoftQuad Software//DTD HoTMetaL PRO 6.0::19990601::extensions to HTML 4.0//EN" "hmpro6.dtd">
<HTML>
  <HEAD><META HTTP-EQUIV="Pragma" CONTENT="no-cache">
	 <META NAME="KEYWORDS"
	  CONTENT="Sudoku , infinite , instant , unlimited , Sudoku , cross, word, generator , puzzle , script , Sudoku, printable , free">
	 <META NAME="DESCRIPTION"
	  CONTENT="Sudoku : Infinite Free Sudoku Puzzle Generator Script to create Sudoku for prining">

	 <TITLE>Sudoku Puzzle Generator by Emogic.com</TITLE><LINK REL="stylesheet"
	 TYPE="text/css" HREF="/cgi/sudoku/css/ncross.css"> <STYLE TYPE="text/css">

.cellnotselectedclass {
  background-color: white;
  text-align: center;
  height: 8vmin;
  width: 8vmin;
		font-weight: bold;
  font-size: 2vmin;
  border-top: 1pt black solid;
  border-right: 1pt Black solid;
  border-bottom: 1pt Black solid;
  border-left: 1pt Black solid;
}

.cellselectedclass {
  background-color: yellow;
  text-align: center;
  height: 8vmin;
  width: 8vmin;
		font-weight: bold;
  font-size: 2vmin;
  border-top: 1pt black solid;
  border-right: 1pt Black solid;
  border-bottom: 1pt Black solid;
  border-left: 1pt Black solid;
}

.cellstaticclass {
  background-color: #CCFFFF;
  text-align: center;
  height: 8vmin;
  width: 8vmin;
  font-weight: bold;
		font-size: 6vmin;
  border-top: 1pt black solid;
  border-right: 1pt Black solid;
  border-bottom: 1pt Black solid;
  border-left: 1pt Black solid;
}

.celllockedclass {
  text-align: center;
  height: 8vmin;
  width: 8vmin;
  font-weight: bold;
  font-size: 6vmin;
  border-top: 1pt black solid;
  border-right: 1pt Black solid;
  border-bottom: 1pt Black solid;
  border-left: 1pt Black solid;
}

.cellgrayclass {
  background-color: gray;
  text-align: center;
  height: 8vmin;
  width: 8vmin;
  font-weight: bold;
  font-size: 6vmin;
  border-top: 1pt black solid;
  border-right: 1pt Black solid;
  border-bottom: 1pt Black solid;
  border-left: 1pt Black solid;
}

.cellredclass {
  background-color: red;
  text-align: center;
  height: 8vmin;
  width: 8vmin;
  font-size: 6vmin;
  border-top: 1pt black solid;
  border-right: 1pt Black solid;
  border-bottom: 1pt Black solid;
  border-left: 1pt Black solid;
}

.BigTable
{
  border-top: 1pt black solid;
  border-right: 1pt Black solid;
  border-bottom: 1pt Black solid;
  border-left: 1pt Black solid;
}

.PadTable
{

}

.subtable{
  border-top: 1pt black solid;
  border-right: 1pt Black solid;
  border-bottom: 1pt Black solid;
  border-left: 1pt Black solid;
}

.pad_button_numeric
{
  height: 8vmin;
  width: 8vmin;
border-radius: 3pt;
font-size: 6vmin;
}

.dialogs
{
	font-size: 2vmin;
}
</STYLE> <SCRIPT SRC="/cgi/sudoku/js/ncross.js"></SCRIPT>
	 <LINK REL="stylesheet" HREF="/jqueryui/jquery-ui.css"> <SCRIPT SRC="//code.jquery.com/jquery-1.10.2.js"></SCRIPT> <SCRIPT SRC="/jqueryui/jquery-ui.js"></SCRIPT> <SCRIPT
	 SRC="/cgi/sudoku/js/cookie.js"></SCRIPT>
  </HEAD>
  <BODY ONKEYUP="keyinput(LastCursorID , event.keyCode);"	CLASS="pad_button_numeric">
  <!--start dialogs jqueryui-->

 <SCRIPT>
 //sudoku[big_x][big_y][little_x][little_y]
//value is object so we can easily remove key and value.
//or sudoku[bigx_bigy_littlex_littley]

//getcol(bigx , bigy , littlex)
//getrow(bigx , bigy , littley)
//getsqu(bigx , bigy)

var sudoku = DIM([3, 3, 3, 3], {
	1: true,
	2: true,
	3: true,
	4: true,
	5: true,
	6: true,
	7: true,
	8: true,
	9: true
}); //fill Sudoku board with all probabilities

//set path to traverse Sudoku
var path = [];
for(let by= 0 ; by < 3 ; by++){
 for(let ly = 0 ; ly < 3 ; ly++){
  for(let bx = 0 ; bx < 3 ; bx++){
  for(let lx = 0 ; lx < 3 ; lx++){
   path.push([bx,by,lx,ly]);
   } 
  } 
 } 
}

//like the BASIC DIM : var multiDimensionalArray = DIM([7,8,9])
function DIM(arrayOfDimensions, theValue) {
	let localArrayOfDimensions = arrayOfDimensions.slice(); //must copy array as scope for arrayofdimensions is global 
	let returnArray = [];
	if (localArrayOfDimensions.length === 0) //no more dimensions
	{
		return JSON.parse(JSON.stringify(theValue)); //copy the value, not the pointer
		//return theValue;
	}
	let arraySize = localArrayOfDimensions.shift(); // size of current dimension
	for (let arrayPointer = 0; arrayPointer < arraySize; arrayPointer++) { //for each array pointer in this array dimension, recursively call DIM, and return and assign the value
		returnArray[arrayPointer] = DIM(localArrayOfDimensions, theValue);
	}
	return returnArray; //return here if there are still more array dimensions
}

const three_count = [0, 1, 2];

//start create full Sudoku board
//let next_square = path.pop();
let result = SetNextSquare(path);

function SetNextSquare(path) {
   if(path.length() == 0){return true;} //done
   let backup_for_possible_fail = JSON.stringify(sudoku);
   let next_square = path.pop();
   let bigx = next_square[0];
   let bigy = next_square[1];
   let littlex = next_square[2];
   let littley = next_square[3];
  
   let potential_numbers = Object.keys(sudoku[bigx][bigy][littlex][littley]) ;
   //shuffle
   potential_numbers = potential_numbers.shuffleArray();
    while(potential_numbers.length() > 0){ //if we still have potential numbers in this square try another one 
       //pick a number
       let chosen = remaining_numbers.pop();
       //remaining_numbers.shuffleArray();
       
       //get possible numbers at this square
       //let numbers = Object.keys(sudoku[bigx][bigy][littlex][littley]);
       //pick a number
       //let chosen = numbers[Math.floor(Math.random() * numbers.length)]; 
        //remove number
        delete sudoku[bigx][bigy][littlex][littley][chosen];
        //get remaining numbers for possible recursive fail
        //let remaining_numbers = Object.keys(sudoku[bigx][bigy][littlex][littley]);
            //erase old numbers
       sudoku[bigx][bigy][littlex][littley] = {};
      //set chosen number
      sudoku[bigx][bigy][littlex][littley][chosen] = true;
      
       let result = true; //assume. prove otherwise. a false means that one square ran out of potential numbers
    
       if false, restore board, and if we have remaining_numbers try another one
       if no more remaining_numbers restore board and result false
      
       //remove from squ
       var result = Remove_Potential_Values([bigx,bigx,bigx] , [bigy,bigy,bigy] , [0, 1, 2] , [0, 1, 2] , bigx , bigy , littlex , littley , chosen);
       if( result == false ){
        sudoku = JSON.parse(backup_for_possible_fail); //restore board
        continue; //try another 
        }
       //remove from row
       result = Remove_Potential_Values([0,1,2] , [bigy,bigy,bigy] , [0,1,2] , [littley,littley,littley] , bigx , bigy , littlex , littley , chosen);
       if( result == false ){
        sudoku = JSON.parse(backup_for_possible_fail); //restore board
        continue; //try another 
        }
       //remove from col
      res = Remove_Potential_Values([bigx,bigx,bigx] , [0,1,2]  , [littlex,littlex,littlex] , [0,1,2] , bigx , bigy , littlex , littley , chosen);
       if( result == false ){
        sudoku = JSON.parse(backup_for_possible_fail); //restore board
        continue; //try another 
        }
        
      //were any squares left without a value? if so, restore previous values and  recurse back
      
       //are we at end, no next square then recurse again
      //let next_square = path.pop();
      result = SetASquare(path);
         
        
    }
    //we ran out of potential numbers on this square. return false. recures back
    //sudoku = JSON.parse(backup_for_possible_fail); //restore board
    return false;

   
    //remove chosen value from row,col,squ
   

}

const shuffleArray = array => {
  for (let i = array.length - 1; i > 0; i--) {
    const j = Math.floor(Math.random() * (i + 1));
    const temp = array[i];
    array[i] = array[j];
    array[j] = temp;
  }
}

function Remove_Potential_Values(bigxArray, bigyArray, littlexArray, littleyArray, bigx, bigy, littlex, littley, chosen){
	let result = true; 
 bigxArray.forEach(function(bx){
		bigyArray.forEach(function(by) {
			littlexArray.forEach(function(lx) {
				littleyArray.forEach(function(ly) {
					if (bigx == bx && littlex == lx) {
						return;
					} //skip our cell
					delete sudoku[bx][by][lx][ly][chosen];
					if (Object.keys(sudoku[bx][by][lx][ly]).length == 0) {
						return false;
					}//a cell has no more potential values. we have failed
				}, thisValue);
			}, thisValue);
		}, thisValue);
	}, thisValue);
	return result;
}

//choose rand box that has more than one key/value : or just go in order
//rand choose a key to remove
//remove
//recalculate row,col,square

//check to ensure there are no empty cells

function arrayRemove(arr, value) {
	return arr.filter(function(ele) {
		return ele != value;
	});
}



//start dialogs and turn off
$(function() {
	$(".dialogs").dialog({
		autoOpen: false,
		modal: true,
		buttons: {
			Ok: function() {
				$(this).dialog("close");
			}
		}
	});
});

function howtoplay() {
	$('#dialog-message').dialog("open");
	$("#dialog-message").dialog("option", "width", 800);
}

function Statistics() {
	$('#Statistics').dialog("open");
	$("#Statistics").dialog("option", "width", 800);
}

function SolutionsDialog() {
	$('#SolutionDialog').dialog("open");
	$("#SolutionDialog").dialog("option", "width", 800);
}

function PadDialog() {
	$("div[aria-describedby='PadDialog']").addClass("PadTable");
	$('#PadDialog').dialog("open");

}

</SCRIPT>

	 <!--end  dialogs jqueryui--><SCRIPT>

var forever = new Date('October 17, 2030 03:24:00'); // use in cookies
var count = 0;

function gup(name) {
	//this routine looks for 'name' value in the url string ?name=value
	name = name.replace(/[\[]/, "\\\[").replace(/[\]]/, "\\\]");
	var regexS = "[\\?&]" + name + "=([^&#]*)";
	var regex = new RegExp(regexS);
	var results = regex.exec(window.location.href);
	if (results == null)
		return "";
	else
		return results[1];
}

//variables passed from facebook to .cgi script
var uid = "%uid%";
var browserType;
var LastCursorID = "cell_0_0";
//var LastCursorClass = "";
var StaticArray = new Array(9);
for (var x = 0; x <= 8; x++) {
	StaticArray[x] = new Array(9);
} //StaticArray[x][y]
var ScratchArray = new Array(9);
for (x = 0; x <= 8; x++) {
	ScratchArray[x] = new Array(9);
} //ScratchArray[x][y]

var blanksquares = "%blanksquares%";
var intable = 1;
var networkID; //sent with the cell info to identify cell data originator

//document.getElementById(CursorID).innerHTML=String.fromCharCode(event.keyCode);
if (document.layers) {
	browserType = "nn4";
}
if (document.all) {
	browserType = "ie";
}
if (window.navigator.userAgent.toLowerCase().match("gecko")) {
	browserType = "gecko";
}

function hideID(szDivID) {
	if (browserType == "gecko")
		document.poppedLayer = eval('document.getElementById(szDivID)');
	else if (browserType == "ie")
		document.poppedLayer = eval('document.getElementById(szDivID)');
	else
		document.poppedLayer =
			eval('document.layers[szDivID]');
	document.poppedLayer.style.display = "none";
}

function showID(szDivID) {
	if (browserType == "gecko")
		document.poppedLayer = eval('document.getElementById(szDivID)');
	else if (browserType == "ie")
		document.poppedLayer = eval('document.getElementById(szDivID)');
	else
		document.poppedLayer = eval('document.layers[szDivID]');
	document.poppedLayer.style.display = "inline";
}

function PositionFromID(cellID) {
	var gridID = cellID.slice(5, 9999); //strip Grid_
	var LocationOfCell = Array();
	LocationOfCell = gridID.split('_'); //split 1_2 part
	var x = LocationOfCell[0];
	var y = LocationOfCell[1];

	return new Array(x, y);
}

function IsCellLockedID(cellID) {
	var text = document.getElementById(cellID).innerHTML;
	if ((text.indexOf('locked', 0) > -1) || (text.indexOf('LOCKED', 0) > -1)) {
		return 1;
	}
	//if ((text.indexOf('</B>' , 0) > -1 ) || (text.indexOf('</b>' , 0) > -1 )) {return 1}
	else {
		return 0;
	}
}

function IsCellStaticID(cellID) {
	var xy = Array();
	xy = PositionFromID(cellID);
	var x = xy[0];
	var y = xy[1];

	if (StaticArray[x][y] == 1) {
		return 1;
	} else {
		return 0;
	}
}

function chooseOnClick(cellID) {
	//PadDialog();
	choose(cellID);
}

function choose(cellID) {

	//take care of last cursor cell
	//if (LastCursorClass == '') {LastCursorClass = document.getElementById(cellID).className} //so we don't pooch the starting square
	//else {document.getElementById(LastCursorID).className = LastCursorClass;} //restore last selected square

	document.getElementById(LastCursorID).className = 'cellnotselectedclass'; //selected square back to white
	if (IsCellLockedID(LastCursorID) == 1) {
		document.getElementById(LastCursorID).className = 'celllockedclass';
	}
	if (IsCellStaticID(LastCursorID) == 1) {
		document.getElementById(LastCursorID).className = 'cellstaticclass'; //selected square back to gray
	}

	//take care of new cell
	//LastCursorClass = document.getElementById(cellID).className; //remember the last cursor color
	LastCursorID = cellID; //remember the last cursor cell

	//asumption
	document.getElementById(cellID).className = 'cellselectedclass'; //selected square back to yellow
	if (IsCellLockedID(cellID) == 1) {
		document.getElementById(cellID).className = 'cellgrayclass';
		//LastCursorID = "celllockedclass";
	}
	if (IsCellStaticID(cellID) == 1) {
		document.getElementById(cellID).className = 'cellgrayclass'; //selected square back to gray
	}
}

function keyinput(cellID, keyCode) {
	var xy = Array();
	xy = PositionFromID(cellID);
	var x = xy[0];
	var y = xy[1];

	if (intable == 0) {
		return 0;
	} //we are not typing in the table. ignore

	if (keyCode == 37) {
		if (x <= 0) {
			x = 8;
		} else {
			x--;
		}
		choose('cell_' + x + '_' + y);
	} //left
	if (keyCode == 38) {
		if (y <= 0) {
			y = 8;
		} else {
			y--;
		}
		choose('cell_' + x + '_' + y);
	} //up
	if (keyCode == 39) {
		if (x >= 8) {
			x = 0;
		} else {
			x++;
		}
		choose('cell_' + x + '_' + y);
	} //right
	if (keyCode == 40) {
		if (y >= 8) {
			y = 0;
		} else {
			y++;
		}
		choose('cell_' + x + '_' + y);
	} //down

	if (keyCode == 67) //c - clear - clear current cell, if not locked
	{
		if (IsAnEditCellID(cellID) == 1) {
			document.getElementById(cellID).innerHTML = "";
			send_cell_update(document.getElementById(cellID).innerHTML);
		}
	}

	if (keyCode == 72) //h - how - check how we are doing status and send to chat box
	{
		var textmsg = 'Numbers selected:' + CountLocked() + ' Correct:' + CountCorrectLocked('how') + '\n\r\n\rNote: this only counts locked numbers.';
		//send_chat(textmsg);
		alert(textmsg);
		//send_chat('Numbers selected:' + CountLocked() + '    Correct:' + CountCorrectLocked('how'));
	}

	if (keyCode == 82) //r - reveal - check how we are doing status and send to chat box
	{
		let textmsg = 'Numbers selected:' + CountLocked() + '    Correct:' + CountCorrectLocked('reveal') + '\n\r\n\rNote: this only counts locked numbers.';
		//send_chat(textmsg);
		alert(textmsg);
	}

	if (IsCellStaticID(cellID) == 1) {
		return 0;
	} //static cells can't be modified

	//lock - unlock function
	if (keyCode == 83) //s - save
	{
		var numberlist = document.getElementById(cellID).innerHTML;
		//remove all but numbers
		numberlist = numberlist.replace(/\D/g, '');
		if (IsCellLockedID(cellID) == 1) {
			//unlock this square
			document.getElementById(cellID).innerHTML = numberlist;
			document.getElementById(cellID).className = 'cellnotselectedclass';
			LastCursorClass = document.getElementById(cellID).className;
			document.getElementById(cellID).className = 'cellselectedclass';
			send_cell_update(document.getElementById(cellID).innerHTML);
		} else {
			//lock the square
			if (numberlist.length == 1) {
				//lock this square
				document.getElementById(cellID).innerHTML = numberlist + '<!--locked-->';
				document.getElementById(cellID).className = 'celllockedclass';
				LastCursorClass = document.getElementById(cellID).className;
				document.getElementById(cellID).className = 'cellgrayclass';
				send_cell_update(document.getElementById(cellID).innerHTML);
				//did we win!
				if (blanksquares == CountCorrectLocked(count)) {
					//send_chat('You win!');
					IWin();
				}
			} else {
				window.alert("You can only lock squares with one number");
			}
		}
		return 0;
	}

	if (IsCellLockedID(cellID) == 1) {
		return 0;
	} //can't edit a locked cell

	if (keyCode >= 97 && keyCode <= 105) //convert numberpad characters
	{
		keyCode = keyCode - 48;
	}

	if (keyCode >= 49 && keyCode <= 57) //number keys pressed 1 - 9
	{
		let numberlist = document.getElementById(cellID).innerHTML;
		//remove all but numbers
		numberlist = numberlist.replace(/\D/g, '');
		var keychar = String.fromCharCode(keyCode);
		var founditindex = numberlist.indexOf(keychar, 0);
		if (founditindex > -1) {
			//remove number from sring
			var re = new RegExp(keychar, 'g');
			numberlist = numberlist.replace(re, '');
		} else {
			numberlist = numberlist + keychar;
		}
		//sort our number list
		var t = numberlist.split('');
		t = t.sort();
		t1 = t.slice(0, 3);
		t2 = t.slice(3, 6);
		t3 = t.slice(6, 9);
		numberlist = t1.join('') + '<br>' + t2.join('') + '<br>' + t3.join('');
		//put numbers back on board
		document.getElementById(cellID).innerHTML = numberlist;
		send_cell_update(document.getElementById(cellID).innerHTML);
	}
}

function IsAnEditCellID(cellID) {
	if ((IsCellStaticID(cellID) == 1) || (IsCellLockedID(cellID) == 1)) {
		return 0;
	} else {
		return 1;
	}
}

function FindStatic() {
	for (var x = 0; x <= 8; x++) {
		for (var y = 0; y <= 8; y++) {
			var text = document.getElementById('cell_' + x + '_' + y).innerHTML;
			StaticArray[x][y] = 0; {
				if (text.indexOf('static', 0) > -1) {
					StaticArray[x][y] = 1;
				}
			}
		}
	}
}

function ColorStatic() {
	for (var x = 0; x <= 8; x++) {
		for (var y = 0; y <= 8; y++) {
			if (StaticArray[x][y] == 1) {
				document.getElementById('cell_' + x + '_' + y).className = 'cellstaticclass';
			} else {
				document.getElementById('cell_' + x + '_' + y).className = 'cellnotselectedclass';
			}
		}
	}
}

function CountCorrectLocked(mode) {
	var CorrectCount = 0;
	for (var x = 0; x <= 8; x++) {
		for (var y = 0; y <= 8; y++) {
			var CellID = 'cell_' + x + '_' + y;
			var SolutionID = 'solution_' + x + '_' + y;
			if (IsCellLockedID(CellID) == 1) {
				var cellresult = document.getElementById(CellID).innerHTML;
				cellresult = cellresult.replace(/\D/g, '');
				var solutionresult = document.getElementById(SolutionID).innerHTML;
				solutionresult = solutionresult.replace(/\D/g, '');
				if (cellresult == solutionresult) {
					CorrectCount++;
				} else {
					if (mode == 'reveal') {
						document.getElementById(CellID).className = 'cellredclass';
					}
				}
			}
		}
	}
	return (CorrectCount);
}

function CountLocked() {
	var LockedCount = 0;
	for (var x = 0; x <= 8; x++) {
		for (var y = 0; y <= 8; y++) {
			var CellID = 'cell_' + x + '_' + y;
			if (IsCellLockedID(CellID) == 1) {
				LockedCount++;
			}
		}
	}
	return (LockedCount);
}

function CreateBookmarkLink() {
	var title = "Crossword game %game%";
	var url = "%archiveurl%/%uid%/%game%";
	if (window.sidebar) { // Mozilla Firefox Bookmark
		window.sidebar.addPanel(title, url, "");
	} else if (window.external) { // IE Favorite
		window.external.AddFavorite(url, title);
	} else if (window.opera && window.print) { // Opera Hotlist
		return true;
	}
}

</SCRIPT> <SCRIPT TYPE="text/javascript">
 
function send_cell_update(k)
	{
	var letter = k;
	//ajax_send_uri('%scripturl%/cellupdate.cgi' , do_nothing , '&cell=' + LastCursorID + '&number=' + letter + '<!--' + networkID + '-->' + '&uid=%uid%' + '&game=%game%');
 setCookie( LastCursorID , letter , forever , '' , '' , ''); //LastCursorID = cell_x_y
	}

function SetCellsFromCookies()
{
var cookieNames = listCookies();
for (var i = 0 ; i < cookieNames.length ; i++) {
		if (cookieNames[i].indexOf("cell") != -1) {
			var thecell = cookieNames[i];
			thecell = thecell.trim();
			var theletter = getCookie(cookieNames[i]);
			theletter = theletter.trim();
			document.getElementById(thecell).innerHTML = theletter;
			if (IsCellLockedID(thecell) == 1) {
				document.getElementById(thecell).className = 'celllockedclass';
				}
			}
		}
}

function get_sudoku_updates()
	{
	//ajax_send_uri('%archiveurl%/%uid%/%game%/out.txt' , processupdates , '');
	SetCellsFromCookies();
	} 

function CreateBookmarkLink()
	{
	var title = "Crossword game % game %";
	var url = "% archiveurl % /%uid%/ % game %";
	if (window.sidebar)
 		{ // Mozilla Firefox Bookmark
		window.sidebar.addPanel(title, url,"");
		}
	else if( window.external )
		{ // IE Favorite
		window.external.AddFavorite( url, title);
		}
	else if(window.opera && window.print)
		{ // Opera Hotlist
		return true;
		}
 	}

var fivesec = 0;
function IWin()
{
var winstate;
if (fivesec > 100) {winstate = 'up';}
if (fivesec > 200) {winstate = 'down';}
if (fivesec > 300) {winstate = 'done';}

fivesec++;

var trig = 0;
while (trig == 0)
			{
			var x = Math.floor(Math.random() * 9);
			var y = Math.floor(Math.random() * 9);
			var CellID = 'cell_' + x + '_' + y;
			if (IsCellStaticID(CellID) == 0)
				{
				trig = 1;
				var red = Math.floor(Math.random() * 255);
				var green = Math.floor(Math.random() * 255);
				var blue = Math.floor(Math.random() * 255);
				if (winstate == 'up') {document.getElementById(CellID).style.backgroundColor = 'rgb('+red+','+green+','+blue+')';}
				if (winstate == 'down') {document.getElementById(CellID).style.backgroundColor = '';}
				}
			}

var IWinLoop;
if (winstate != 'done')
	{
	IWinLoop = setTimeout(IWin(),10);
	}

if (winstate == 'done')
	{
	clearTimeout(IWinLoop);
	fivesec = 0;
	for (let x = 0 ; x <= 8; x++)
		{
		for (let y = 0 ; y <= 8; y++)
			{
			let CellID = 'cell_' + x + '_' + y;
			document.getElementById(CellID).style.backgroundColor = '';
			}
		}
	}
 //showID('win');
 }

function ClearUnlockedCells()
{
   for (var x = 0 ; x <= 8; x++)
		{
		for (var y = 0 ; y <= 8; y++) {
			var cellID = 'cell_' + x + '_' + y;
			//document.getElementById(CellID).style.backgroundColor = '';
				if (IsAnEditCellID(cellID)	== 1) {
					document.getElementById(cellID).innerHTML = "";
					//send_cell_update(document.getElementById(cellID).innerHTML);
					deleteCookie(cellID);
					}
			}
			}
}

function MakeSmaller()
{
var oStyleSheet=document.styleSheets[0];
for (var x = 0 ; x <= 5; x++)
	{
  var oRules;
	if (browserType == 'ie')
		{oRules = oStyleSheet.rules[x];}
	else
		{oRules = oStyleSheet.cssRules[x];}
	var newwidth = oRules.style.width;
	newwidth = newwidth.replace(/\D/g , '');
	newwidth  = newwidth  - 2;
	var fontsizes = Math.floor(newwidth / 4.0) - 1 ;
	if ((x == 2) || (x == 3) || (x == 4)) //static cells
		{fontsizes = Math.floor(newwidth / 2) - 1 ;}
	oRules.style.width = newwidth + 'pt';
	oRules.style.height = newwidth + 'pt';
	oRules.style.fontSize = fontsizes + 'pt';
	}
}

function MakeBigger()
{
var oStyleSheet=document.styleSheets[0];
for (var x = 0 ; x <= 5; x++)
	{
  var oRules;
	if (browserType == 'ie')
		{oRules = oStyleSheet.rules[x];}
	else
		{oRules = oStyleSheet.cssRules[x];}
	var newwidth = oRules.style.width;
	newwidth = newwidth.replace(/\D/g , '');
	newwidth  = newwidth - 2 + 4; //fool string into int
	var fontsizes = Math.floor(newwidth / 4.0) - 1 ;
	if ((x == 2) || (x == 3) || (x == 4)) //static cells
		{fontsizes = Math.floor(newwidth / 2) - 1 ;}
	oRules.style.width = newwidth + 'pt';
	oRules.style.height = newwidth + 'pt';
	oRules.style.fontSize = fontsizes + 'pt';
	}
}

function SolutionClass()
{
for (var x = 0 ; x <= 8; x++)
	{
	for (var y = 0 ; y <= 8; y++)
		{
		document.getElementById('solution_' + x + '_' + y).className = 'celllockedclass';
		}
	}
}

</SCRIPT>
  
	 <table class="BigTable"cellspacing=" 0"cellpadding=" 0" onclick="intable = 1;" id="BigTable">
		 <tr>
			 <td>
				 <table class="subtable"cellspacing=" 0"cellpadding=" 0">
					 <tr>
						 <td height="25">
							 <div class="numbersquare" id="cell_0_0" onclick="chooseOnClick(this.id);">
								 <%cell_0_0%>
							 </div>
						 </td>

						 <td height=" 25">
							 <div class="numbersquare" id="cell_1_0" onclick="chooseOnClick(this.id);">
								 <%cell_1_0%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_2_0" onclick="chooseOnClick(this.id);">
								 <%cell_2_0%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_0_1" onclick=" chooseOnClick(this.id);">
								 <%cell_0_1%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_1_1" onclick=" chooseOnClick(this.id);">
								 <%cell_1_1%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_2_1" onclick=" chooseOnClick(this.id);">
								 <%cell_2_1%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_0_2" onclick=" chooseOnClick(this.id);">
								 <%cell_0_2%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_1_2" onclick=" chooseOnClick(this.id);">
								 <%cell_1_2%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_2_2" onclick=" chooseOnClick(this.id);">
								 <%cell_2_2%>
							 </div>
						 </td>
					 </tr>
				 </table>
			 </td>

			 <td>
				 <table class=" subtable"cellspacing=" 0"cellpadding=" 0">
					 <tr>
						 <td height=" 25">
							 <div class="numbersquare" id="cell_3_0" onclick=" chooseOnClick(this.id);">
								 <%cell_3_0%>
							 </div>
						 </td>

						 <td height=" 25">
							 <div class="numbersquare" id="cell_4_0" onclick=" chooseOnClick(this.id);">
								 <%cell_4_0%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_5_0" onclick=" chooseOnClick(this.id);">
								 <%cell_5_0%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_3_1" onclick=" chooseOnClick(this.id);">
								 <%cell_3_1%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_4_1" onclick=" chooseOnClick(this.id);">
								 <%cell_4_1%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_5_1" onclick=" chooseOnClick(this.id);">
								 <%cell_5_1%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_3_2" onclick=" chooseOnClick(this.id);">
								 <%cell_3_2%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_4_2" onclick=" chooseOnClick(this.id);">
								 <%cell_4_2%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_5_2" onclick=" chooseOnClick(this.id);">
								 <%cell_5_2%>
							 </div>
						 </td>
					 </tr>
				 </table>
			 </td>

			 <td>
				 <table class=" subtable"cellspacing=" 0"cellpadding=" 0">
					 <tr>
						 <td height=" 25">
							 <div class="numbersquare" id="cell_6_0" onclick=" chooseOnClick(this.id);">
								 <%cell_6_0%>
							 </div>
						 </td>

						 <td height=" 25">
							 <div class="numbersquare" id="cell_7_0" onclick=" chooseOnClick(this.id);">
								 <%cell_7_0%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_8_0" onclick=" chooseOnClick(this.id);">
								 <%cell_8_0%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_6_1" onclick=" chooseOnClick(this.id);">
								 <%cell_6_1%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_7_1" onclick=" chooseOnClick(this.id);">
								 <%cell_7_1%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_8_1" onclick=" chooseOnClick(this.id);">
								 <%cell_8_1%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_6_2" onclick=" chooseOnClick(this.id);">
								 <%cell_6_2%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_7_2" onclick=" chooseOnClick(this.id);">
								 <%cell_7_2%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_8_2" onclick=" chooseOnClick(this.id);">
								 <%cell_8_2%>
							 </div>
						 </td>
					 </tr>
				 </table>
			 </td>

			 <td><img src="%20/%20cgi%20/%20sudoku%20/%20images%20/%20lock.jpg" alt=" Lock / Unlock " width=" 113" height=" 136" border=" 0" onclick=" keyinput(LastCursorID, 83);" class=" pad_button_numeric" title=" Lock / Unlock "></td>
		 </tr>

		 <tr>
			 <td>
				 <table class=" subtable"cellspacing=" 0"cellpadding=" 0">
					 <tr>
						 <td height=" 25">
							 <div class="numbersquare" id="cell_0_3" onclick=" chooseOnClick(this.id);">
								 <%cell_0_3%>
							 </div>
						 </td>

						 <td height=" 25">
							 <div class="numbersquare" id="cell_1_3" onclick=" chooseOnClick(this.id);">
								 <%cell_1_3%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_2_3" onclick=" chooseOnClick(this.id);">
								 <%cell_2_3%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_0_4" onclick=" chooseOnClick(this.id);">
								 <%cell_0_4%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_1_4" onclick=" chooseOnClick(this.id);">
								 <%cell_1_4%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_2_4" onclick=" chooseOnClick(this.id);">
								 <%cell_2_4%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_0_5" onclick=" chooseOnClick(this.id);">
								 <%cell_0_5%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_1_5" onclick=" chooseOnClick(this.id);">
								 <%cell_1_5%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_2_5" onclick=" chooseOnClick(this.id);">
								 <%cell_2_5%>
							 </div>
						 </td>
					 </tr>
				 </table>
			 </td>

			 <td>
				 <table class=" subtable"cellspacing=" 0"cellpadding=" 0">
					 <tr>
						 <td height=" 25">
							 <div class="numbersquare" id="cell_3_3" onclick=" chooseOnClick(this.id);">
								 <%cell_3_3%>
							 </div>
						 </td>

						 <td height=" 25">
							 <div class="numbersquare" id="cell_4_3" onclick=" chooseOnClick(this.id);">
								 <%cell_4_3%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_5_3" onclick=" chooseOnClick(this.id);">
								 <%cell_5_3%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_3_4" onclick=" chooseOnClick(this.id);">
								 <%cell_3_4%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_4_4" onclick=" chooseOnClick(this.id);">
								 <%cell_4_4%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_5_4" onclick=" chooseOnClick(this.id);">
								 <%cell_5_4%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_3_5" onclick=" chooseOnClick(this.id);">
								 <%cell_3_5%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_4_5" onclick=" chooseOnClick(this.id);">
								 <%cell_4_5%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_5_5" onclick=" chooseOnClick(this.id);">
								 <%cell_5_5%>
							 </div>
						 </td>
					 </tr>
				 </table>
			 </td>

			 <td>
				 <table class=" subtable"cellspacing=" 0"cellpadding=" 0">
					 <tr>
						 <td height=" 25">
							 <div class="numbersquare" id="cell_6_3" onclick=" chooseOnClick(this.id);">
								 <%cell_6_3%>
							 </div>
						 </td>

						 <td height=" 25">
							 <div class="numbersquare" id="cell_7_3" onclick=" chooseOnClick(this.id);">
								 <%cell_7_3%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_8_3" onclick=" chooseOnClick(this.id);">
								 <%cell_8_3%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_6_4" onclick=" chooseOnClick(this.id);">
								 <%cell_6_4%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_7_4" onclick=" chooseOnClick(this.id);">
								 <%cell_7_4%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_8_4" onclick=" chooseOnClick(this.id);">
								 <%cell_8_4%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_6_5" onclick=" chooseOnClick(this.id);">
								 <%cell_6_5%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_7_5" onclick=" chooseOnClick(this.id);">
								 <%cell_7_5%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_8_5" onclick=" chooseOnClick(this.id);">
								 <%cell_8_5%>
							 </div>
						 </td>
					 </tr>
				 </table>
			 </td>

			 <td><img src="%20/%20cgi%20/%20sudoku%20/%20images%20/%20clearcell.jpg" alt=" Clear Cell " title=" Clear Cell " width=" 200" height=" 200" border=" 0" onclick=" keyinput(LastCursorID, 67);" class=" pad_button_numeric"></td>
		 </tr>

		 <tr>
			 <td>
				 <table class=" subtable"cellspacing=" 0"cellpadding=" 0">
					 <tr>
						 <td height=" 25">
							 <div class="numbersquare" id="cell_0_6" onclick=" chooseOnClick(this.id);">
								 <%cell_0_6%>
							 </div>
						 </td>

						 <td height=" 25">
							 <div class="numbersquare" id="cell_1_6" onclick=" chooseOnClick(this.id);">
								 <%cell_1_6%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_2_6" onclick=" chooseOnClick(this.id);">
								 <%cell_2_6%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_0_7" onclick=" chooseOnClick(this.id);">
								 <%cell_0_7%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_1_7" onclick=" chooseOnClick(this.id);">
								 <%cell_1_7%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_2_7" onclick=" chooseOnClick(this.id);">
								 <%cell_2_7%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_0_8" onclick=" chooseOnClick(this.id);">
								 <%cell_0_8%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_1_8" onclick=" chooseOnClick(this.id);">
								 <%cell_1_8%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_2_8" onclick=" chooseOnClick(this.id);">
								 <%cell_2_8%>
							 </div>
						 </td>
					 </tr>
				 </table>
			 </td>

			 <td>
				 <table class=" subtable"cellspacing=" 0"cellpadding=" 0">
					 <tr>
						 <td height=" 25">
							 <div class="numbersquare" id="cell_3_6" onclick=" chooseOnClick(this.id);">
								 <%cell_3_6%>
							 </div>
						 </td>

						 <td height=" 25">
							 <div class="numbersquare" id="cell_4_6" onclick=" chooseOnClick(this.id);">
								 <%cell_4_6%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_5_6" onclick=" chooseOnClick(this.id);">
								 <%cell_5_6%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_3_7" onclick=" chooseOnClick(this.id);">
								 <%cell_3_7%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_4_7" onclick=" chooseOnClick(this.id);">
								 <%cell_4_7%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_5_7" onclick=" chooseOnClick(this.id);">
								 <%cell_5_7%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_3_8" onclick=" chooseOnClick(this.id);">
								 <%cell_3_8%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_4_8" onclick=" chooseOnClick(this.id);">
								 <%cell_4_8%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_5_8" onclick=" chooseOnClick(this.id);">
								 <%cell_5_8%>
							 </div>
						 </td>
					 </tr>
				 </table>
			 </td>

			 <td>
				 <table class=" subtable"cellspacing=" 0"cellpadding=" 0">
					 <tr>
						 <td height=" 25">
							 <div class="numbersquare" id="cell_6_6" onclick=" chooseOnClick(this.id);">
								 <%cell_6_6%>
							 </div>
						 </td>

						 <td height=" 25">
							 <div class="numbersquare" id="cell_7_6" onclick=" chooseOnClick(this.id);">
								 <%cell_7_6%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_8_6" onclick=" chooseOnClick(this.id);">
								 <%cell_8_6%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_6_7" onclick=" chooseOnClick(this.id);">
								 <%cell_6_7%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_7_7" onclick=" chooseOnClick(this.id);">
								 <%cell_7_7%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_8_7" onclick=" chooseOnClick(this.id);">
								 <%cell_8_7%>
							 </div>
						 </td>
					 </tr>

					 <tr>
						 <td>
							 <div class="numbersquare" id="cell_6_8" onclick=" chooseOnClick(this.id);">
								 <%cell_6_8%>
							 </div>
						 </td>

						 <td>
							 <div class="numbersquare" id="cell_7_8" onclick=" chooseOnClick(this.id);">
								 <%cell_7_8%>
							 </div>
						 </td>

						 <td width=" 25">
							 <div class="numbersquare" id="cell_8_8" onclick=" chooseOnClick(this.id);">
								 <%cell_8_8%>
							 </div>
						 </td>
					 </tr>
				 </table>
			 </td>

			 <td><img src="%20/%20cgi%20/%20sudoku%20/%20images%20/%20clearunlockedcells.jpg" alt=" Clear blank cells " title=" Clear blank cells " border=" 0" width=" 200" height=" 200" onclick=" if (confirm('Are you sure? This will clear the board of all numbers that are not locked.')) { ClearUnlockedCells(); } else { return false; }" class=" pad_button_numeric"></td>
		 </tr>
	 </table>
  
	 <table cellpadding=" 5">
		 <tr>
			 <td>
				 <form style="display: inline;">
					 <input type="button" name="Button1" value=" 1 " onclick="keyinput(LastCursorID, 49);" class="pad_button_numeric">
				 </form>
			 </td>

			 <td>
				 <form style="display: inline;">
					 <input type="button" name="Button1" value=" 2 " onclick="keyinput(LastCursorID, 50);" class="pad_button_numeric">
				 </form>
			 </td>

			 <td>
				 <form style="display: inline;">
					 <input type="button" name="Button1" value=" 3 " onclick="keyinput(LastCursorID, 51);" class="pad_button_numeric">
				 </form>
			 </td>

			 <td>
				 <form style="display: inline;">
					 <input type="button" name="Button1" value=" 4 " onclick="keyinput(LastCursorID, 52);" class="pad_button_numeric">
				 </form>
			 </td>

			 <td>
				 <form style="display: inline;">
					 <input type="button" name="Button1" value=" 5 " onclick="keyinput(LastCursorID, 53);" class="pad_button_numeric">
				 </form>
			 </td>

			 <td>
				 <form style="display: inline;">
					 <input type="button" name="Button1" value=" 6 " onclick="keyinput(LastCursorID, 54);" class="pad_button_numeric">
				 </form>
			 </td>

			 <td>
				 <form style="display: inline;">
					 <input type="button" name="Button1" value=" 7 " onclick="keyinput(LastCursorID, 55);" class="pad_button_numeric">
				 </form>
			 </td>

			 <td>
				 <form style="display: inline;">
					 <input type="button" name="Button1" value=" 8 " onclick="keyinput(LastCursorID, 56);" class="pad_button_numeric">
				 </form>
			 </td>

			 <td>
				 <form style="display: inline;">
					 <input type="button" name="Button1" value=" 9 " onclick="keyinput(LastCursorID, 57);" class="pad_button_numeric">
				 </form>
			 </td>
		 </tr>
	 </table>
  
	 <table class="subtable" style="border-top: 1px solid; border-right: 1px solid; border-bottom: 1px solid; border-left: 1px solid"cellpadding="5">
		 <tr>
			 <td><img src="/%20cgi%20/%20sudoku%20/%20images%20/%20help.gif" alt=" How do I play " title=" How do I play " width="200" height="200" border=" 0" onclick="howtoplay();" class="pad_button_numeric"></td>

			 <td><img src="/%20cgi%20/%20sudoku%20/%20images%20/%20check.jpg" alt=" How am I doing " title=" How am I doing " width="200" height="200" border=" 0" onclick="keyinput(LastCursorID, 72);" class="pad_button_numeric"></td>

			 <td><img src="/%20cgi%20/%20sudoku%20/%20images%20/%20badchoices.jpg" alt=" Reveal bad choices " title=" Reveal bad choices " width="200" height="200" border=" 0" onclick="keyinput(LastCursorID, 82);" class="pad_button_numeric"></td>

			 <td><img src="/%20cgi%20/%20sudoku%20/%20images%20/%20statistics.png" alt=" Puzzle statistics " title=" Puzzle statistics " width="200" height="200" border=" 0" onclick="Statistics();" class="pad_button_numeric"></td>

			 <td><img src="/%20cgi%20/%20sudoku%20/%20images%20/%20solution.jpg" alt=" Puzzle solution " title=" Puzzle solution " width="200" height="200" border=" 0" onclick="SolutionsDialog();" class="pad_button_numeric"></td>

			 <td><img src="/%20cgi%20/%20sudoku%20/%20images%20/%20restart.jpg" alt=" Restart puzzle " title=" Restart puzzle " width="200" height="200" border=" 0" onclick="if (confirm('Are you sure? This will clear the board of all numbers.')) { DeleteCookies(); location.reload(); }" class="pad_button_numeric"></td>

			 <td><img src="/%20cgi%20/%20sudoku%20/%20images%20/%20new.jpg" alt=" New puzzle " title=" New puzzle " width="200" height="200" border=" 0" onclick="if (confirm('Are you sure? Be sure to bookmark the current puzzle first.')) { window.open('%scripturl%/', '_self'); } else {}" class="pad_button_numeric"></td>

			 <td><img src="/%20cgi%20/%20sudoku%20/%20images%20/%20otherlist.jpg" alt=" Archived puzzles " title=" Archived puzzles " width="200" height="200" border=" 0" onclick="if (confirm('Are you sure? Be sure to bookmark the current puzzle first.')) { window.open('/sudoku/', '_self'); } else {}" class="pad_button_numeric"></td>
		 </tr>
	 </table>

	 <DIV ID="dialog-message" TITLE="How do I play ?" CLASS="dialogs" STYLE="width:100%">
		<P>Suduku Rules:</P>
		<UL>
		  <LI>Every row must contain the numbers 1 through 9.</LI>
		  <LI> Every column must contain the numbers 1 through 9.</LI>
		  <LI> Every one of the 9 smaller squares (3 x 3) must contain the
			 numbers 1 through 9.</LI>
		</UL>
		<P>How to Play:</P>
		<UL>
		  <LI>To see what an icon does, hover the mouse over it (PC/Laptop) or
			 push and hold it (tablets).</LI>
		  <LI>Use arrow keys to move cursor (PC/Laptop) or tap the cell to select
			 (tablets).</LI>
		  <LI>Use number keys to add number(s).</LI>
		  <LI>Note that you can add multiple numbers to use as a scratch
			 pad.</LI>
		  <LI>To remove a number, hit that number again. 'C' (icon: rectangle
			 with x) will clear the current cell of all numbers, if unlocked.</LI>
		  <LI>When you are sure you have a correct number, hit 'S' (icon: lock)
			 to Save or unSave it.</LI>
		  <LI>Hit 'H' (icon: green check) to see How you are doing. The result
			 will show in the chat box.</LI>
		  <LI>Hit 'R' (icon: red x) to Reveal the incorrect locked
			 positions.</LI>
		  <LI>It is advisable to turn on your Num Lock is on and use the
			 keypad.</LI>
		  <LI>If you accidentaly hit F5, your browser will refresh.</LI>
		  <LI>Add to Favorites to complete it at a later time.</LI>
		  <LI>If you print it, you may want to Show Answers (icon: light bulb) at
			 the bottom of this page first.</LI>
		</UL> </DIV>
	 <DIV ID="Statistics" TITLE="Statistics" CLASS="dialogs"> Difficulty: <B><A	HREF="#"	TITLE="This rating is based on algorithms used to generate this puzzle and may not be reflected in actual gameplay.">%difficulty%</A></B>
		%globalstring%</DIV>
  
	 <div id="SolutionDialog" style="" class="dialogs" title="Solution">
		 <table class="bigtable"cellspacing=" 0"cellpadding=" 0" align="center">
			 <tr>
				 <td>
					 <table class="subtable"cellspacing=" 0"cellpadding=" 0">
						 <tr>
							 <td height="25">
								 <div class="numbersquare" id="solution_0_0">
									 <%solution_0_0%>
								 </div>
							 </td>

							 <td height=" 25">
								 <div class="numbersquare" id="solution_1_0">
									 <%solution_1_0%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_2_0">
									 <%solution_2_0%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_0_1">
									 <%solution_0_1%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_1_1">
									 <%solution_1_1%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_2_1">
									 <%solution_2_1%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_0_2">
									 <%solution_0_2%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_1_2">
									 <%solution_1_2%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_2_2">
									 <%solution_2_2%>
								 </div>
							 </td>
						 </tr>
					 </table>
				 </td>

				 <td>
					 <table class=" subtable"cellspacing=" 0"cellpadding=" 0">
						 <tr>
							 <td height=" 25">
								 <div class="numbersquare" id="solution_3_0">
									 <%solution_3_0%>
								 </div>
							 </td>

							 <td height=" 25">
								 <div class="numbersquare" id="solution_4_0">
									 <%solution_4_0%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_5_0">
									 <%solution_5_0%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_3_1">
									 <%solution_3_1%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_4_1">
									 <%solution_4_1%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_5_1">
									 <%solution_5_1%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_3_2">
									 <%solution_3_2%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_4_2">
									 <%solution_4_2%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_5_2">
									 <%solution_5_2%>
								 </div>
							 </td>
						 </tr>
					 </table>
				 </td>

				 <td>
					 <table class=" subtable"cellspacing=" 0"cellpadding=" 0">
						 <tr>
							 <td height=" 25">
								 <div class="numbersquare" id="solution_6_0">
									 <%solution_6_0%>
								 </div>
							 </td>

							 <td height=" 25">
								 <div class="numbersquare" id="solution_7_0">
									 <%solution_7_0%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_8_0">
									 <%solution_8_0%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_6_1">
									 <%solution_6_1%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_7_1">
									 <%solution_7_1%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_8_1">
									 <%solution_8_1%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_6_2">
									 <%solution_6_2%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_7_2">
									 <%solution_7_2%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_8_2">
									 <%solution_8_2%>
								 </div>
							 </td>
						 </tr>
					 </table>
				 </td>
			 </tr>

			 <tr>
				 <td>
					 <table class=" subtable"cellspacing=" 0"cellpadding=" 0">
						 <tr>
							 <td height=" 25">
								 <div class="numbersquare" id="solution_0_3">
									 <%solution_0_3%>
								 </div>
							 </td>

							 <td height=" 25">
								 <div class="numbersquare" id="solution_1_3">
									 <%solution_1_3%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_2_3">
									 <%solution_2_3%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_0_4">
									 <%solution_0_4%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_1_4">
									 <%solution_1_4%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_2_4">
									 <%solution_2_4%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_0_5">
									 <%solution_0_5%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_1_5">
									 <%solution_1_5%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_2_5">
									 <%solution_2_5%>
								 </div>
							 </td>
						 </tr>
					 </table>
				 </td>

				 <td>
					 <table class=" subtable"cellspacing=" 0"cellpadding=" 0">
						 <tr>
							 <td height=" 25">
								 <div class="numbersquare" id="solution_3_3">
									 <%solution_3_3%>
								 </div>
							 </td>

							 <td height=" 25">
								 <div class="numbersquare" id="solution_4_3">
									 <%solution_4_3%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_5_3">
									 <%solution_5_3%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_3_4">
									 <%solution_3_4%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_4_4">
									 <%solution_4_4%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_5_4">
									 <%solution_5_4%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_3_5">
									 <%solution_3_5%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_4_5">
									 <%solution_4_5%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_5_5">
									 <%solution_5_5%>
								 </div>
							 </td>
						 </tr>
					 </table>
				 </td>

				 <td>
					 <table class=" subtable"cellspacing=" 0"cellpadding=" 0">
						 <tr>
							 <td height=" 25">
								 <div class="numbersquare" id="solution_6_3">
									 <%solution_6_3%>
								 </div>
							 </td>

							 <td height=" 25">
								 <div class="numbersquare" id="solution_7_3">
									 <%solution_7_3%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_8_3">
									 <%solution_8_3%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_6_4">
									 <%solution_6_4%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_7_4">
									 <%solution_7_4%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_8_4">
									 <%solution_8_4%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_6_5">
									 <%solution_6_5%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_7_5">
									 <%solution_7_5%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_8_5">
									 <%solution_8_5%>
								 </div>
							 </td>
						 </tr>
					 </table>
				 </td>
			 </tr>

			 <tr>
				 <td>
					 <table class=" subtable"cellspacing=" 0"cellpadding=" 0">
						 <tr>
							 <td height=" 25">
								 <div class="numbersquare" id="solution_0_6">
									 <%solution_0_6%>
								 </div>
							 </td>

							 <td height=" 25">
								 <div class="numbersquare" id="solution_1_6">
									 <%solution_1_6%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_2_6">
									 <%solution_2_6%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_0_7">
									 <%solution_0_7%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_1_7">
									 <%solution_1_7%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_2_7">
									 <%solution_2_7%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_0_8">
									 <%solution_0_8%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_1_8">
									 <%solution_1_8%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_2_8">
									 <%solution_2_8%>
								 </div>
							 </td>
						 </tr>
					 </table>
				 </td>

				 <td>
					 <table class=" subtable"cellspacing=" 0"cellpadding=" 0">
						 <tr>
							 <td height=" 25">
								 <div class="numbersquare" id="solution_3_6">
									 <%solution_3_6%>
								 </div>
							 </td>

							 <td height=" 25">
								 <div class="numbersquare" id="solution_4_6">
									 <%solution_4_6%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_5_6">
									 <%solution_5_6%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_3_7">
									 <%solution_3_7%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_4_7">
									 <%solution_4_7%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_5_7">
									 <%solution_5_7%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_3_8">
									 <%solution_3_8%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_4_8">
									 <%solution_4_8%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_5_8">
									 <%solution_5_8%>
								 </div>
							 </td>
						 </tr>
					 </table>
				 </td>

				 <td>
					 <table class=" subtable"cellspacing=" 0"cellpadding=" 0">
						 <tr>
							 <td height=" 25">
								 <div class="numbersquare" id="solution_6_6">
									 <%solution_6_6%>
								 </div>
							 </td>

							 <td height=" 25">
								 <div class="numbersquare" id="solution_7_6">
									 <%solution_7_6%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_8_6">
									 <%solution_8_6%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_6_7">
									 <%solution_6_7%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_7_7">
									 <%solution_7_7%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_8_7">
									 <%solution_8_7%>
								 </div>
							 </td>
						 </tr>

						 <tr>
							 <td>
								 <div class="numbersquare" id="solution_6_8">
									 <%solution_6_8%>
								 </div>
							 </td>

							 <td>
								 <div class="numbersquare" id="solution_7_8">
									 <%solution_7_8%>
								 </div>
							 </td>

							 <td width=" 25">
								 <div class="numbersquare" id="solution_8_8">
									 <%solution_8_8%>
								 </div>
							 </td>
						 </tr>
					 </table>
				 </td>
			 </tr>
		 </table>

		 <div align="center">
			 <form id="Solution" name="Solution">
				 <table align="center"></table>

				 <table>
					 <tbody>
						 <tr valign="middle">
							 <td valign="middle" align="center" colspan=" 3">Sudoku Solver</td>
						 </tr>

						 <tr valign=" middle">
							 <td valign="middle" align="left" colspan="3">If the grid below is not complete, the puzzle is not solvable and there is a bug in our program.. Please notify us.at <a href="http:%20//www.emogic.com/contact" target="_blank">http: //www.emogic.com/contact</a></td>
						 </tr>

						 <tr valign="middle">
							 <td align="right"><input type="button" onclick="start_cross(this.form);" value="Calculate Answer" id="answerbutton"><br>
							 <textarea id="map" name="map" onkeyup="start_cross(this.form);" onchange="start_cross(this.form);" rows="10" cols="10">%jscalcpuzz%</textarea>
        </td>
							 <td id="result_here" class="num_cross" colspan="2" align="left">&nbsp;</td>
						 </tr>
					 </tbody>
				 </table>
			 </form>
		 </div>
	 </div>
